<div class="TabM">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs" role="tablist" id="tablist">
                <li role="presentation" class="active"><a href="#Company_Info" aria-controls="Reported" role="tab"
                        data-toggle="tab" aria-expanded="false">Company Info</a></li>

                <li role="presentation" class=""><a href="#Address_Info" aria-controls="Candidate" role="tab"
                        data-toggle="tab" aria-expanded="false">Address Info</a></li>

                <li role="presentation" class=""><a href="#BankInfo_Payroll" aria-controls="Schedule" role="tab"
                        data-toggle="tab" aria-expanded="false">Bank Info & Payroll</a></li>

                <li role="presentation" class=""><a href="#Other_Info" aria-controls="Process" role="tab"
                        data-toggle="tab" aria-expanded="false">Other Info</a></li>
                        
                <li role="presentation" class=""><a href="#Logo" aria-controls="letter" role="tab" data-toggle="tab"
                        aria-expanded="false">Logo</a></li>
            </ul>
        </div>
    </div>
</div>
<form id="regForm" [formGroup]="companyInfoForm">
    <div class="TabC">
        <div class="container-fluid">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane   active" id="Company_Info">
                    <app-company-info [regForm]="companyInfoForm"></app-company-info>
                </div>
                <div role="tabpanel" class="tab-pane " id="Address_Info">
                    <app-address-info [regForm]="companyInfoForm"></app-address-info>
                </div>
                <div role="tabpanel" class="tab-pane" id="BankInfo_Payroll">
                    <app-bank-info [regForm]="companyInfoForm"> </app-bank-info>
                </div>
                <div role="tabpanel" class="tab-pane" id="Other_Info">
                    <app-other-info [regForm]="companyInfoForm"> </app-other-info>
                </div>
                <div role="tabpanel" class="tab-pane" id="Logo">
                    <app-logo-info [regForm]="companyInfoForm"> </app-logo-info>
                </div>
            </div>
        </div>
    </div>
</form>