<div [formGroup]="regForm">
    <div class="row">
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label>Financial Year Start</mat-label>
            <input matInput [matDatepicker]="finPicker" placeholder="Choose a Date" formControlName="finYrStartDate"
                readonly>
            <mat-datepicker-toggle matSuffix [for]="finPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #finPicker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label>Book Start</mat-label>
            <input matInput [matDatepicker]="bookPicker" placeholder="Choose a Date" formControlName="bookStartDate"
                readonly>
            <mat-datepicker-toggle matSuffix [for]="bookPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #bookPicker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label>Company Start</mat-label>
            <input matInput [matDatepicker]="cmpnyPicker" placeholder="Choose a Date" formControlName="companyStartDate"
                readonly>
            <mat-datepicker-toggle matSuffix [for]="cmpnyPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #cmpnyPicker disabled="false"></mat-datepicker>
        </mat-form-field>
    </div>
    <hr style="border:1px solid #d8dedc;width:100%;margin-top:25px;margin-bottom:40px;">

    <div class="bank-details">
        <h3>Bank Details</h3>


        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <mat-form-field appearance="outline" class="col-md-4 col-lg-4 col-sm-12">
                    <mat-select #branchId required>
                        <mat-option disabled> -- </mat-option>
                        <mat-option *ngFor="let bank of bankBranchList" [value]="bank.bankBranchId">
                            <span>
                                {{bank.branchName}}
                            </span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4 col-lg-4 col-sm-12">
                    <input type='number' #accountNumber matInput placeholder="enter the account number">
                </mat-form-field>
                <button class="col-md-4 col-lg-4 col-sm-12 save-btn"
                    [disabled]="!branchId.value || !accountNumber.value" mat-raised-button
                    (click)="addBranch(branchId.value,accountNumber.value)">Add</button>
            </div>
            <ul class="list-unstyled" *ngIf="bankArray.length>0">
                <li>
                    <span> BankBranchID</span>
                    <span> BankAccountNo</span>
                </li>
                <li *ngFor="let bank of bankArray" class="horizontal">
                    <span>
                        {{bank.BankBranchID}}
                    </span> 
                    <span>
                        {{bank.BankAccountNo}}

                    </span>
                    
                    <span>
                        <i (click)="delete(bank.BankAccountNo)" class="material-icons">save</i>
                        
                    </span>
                </li>
            </ul>

        </div>
    </div>

    <button mat-raised-button class="save-btn"
        [disabled]="!regForm.value.companyBankList || !regForm.value.companyStartDate || !regForm.value.finYrStartDate || !regForm.value.bookStartDate"
        (click)=bankSubmit()>Save</button>
</div>
<div class="row">

</div>
<!-- <p-toast  position="top-center"></p-toast> -->
