<div class="top-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{currentPage}} > <span>{{defaultPage}}</span>
                </h1>
                <div class="row1">
                    <div class="newsLetter">
                        <input class="txtfielD" placeholder="Search" type="text" id="search_term" name="search_term"
                            autocomplete="off">
                                                                          <button class="subscribe-btn" type="submit" value="" id="subscribe">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!--search-->
                    <h2>Ravsan Ventures Pvt. Ltd.</h2>
                    <div class="bellIcon">
                        <i class="far fa-bell"></i>
                        <div class="bellcnt" id="items">
                            6
                        </div>
                    </div>
                    <!--bell-->
                    <div class="user-box">
                        <img src="assets/images/profile.jpg">
                    </div>
                    <!--user-->
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle log-btn" type="button" data-toggle="dropdown">
                            <i class="fas fa-chevron-down"></i>
                            <!--<span class="caret"></span>-->
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>