<div [formGroup]="regForm">
    <div class="row">

        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> Area</mat-label>
            <input matInput placeholder="Enter the Area" formControlName="area">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> Block</mat-label>
            <input matInput placeholder="Enter the Block" formControlName="block">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> Street</mat-label>
            <input matInput placeholder="Enter the Street" formControlName="street">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> City</mat-label>
            <input matInput placeholder="Enter the City" formControlName="city">
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label>Province/State</mat-label>
            <mat-select formControlName="province" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let province of provinceList" [value]="province.provinceId">
                    {{province.provinceName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="!regForm.controls['province'].valid && regForm.controls['province'].touched ">
                This field is required
            </mat-error>
        </mat-form-field>
    </div>
    <hr style="border:1px solid #d8dedc;width:100%;margin-top:25px;margin-bottom:40px;">
    <div class="row mrgn30">
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label>Primary Email</mat-label>
            <input matInput placeholder="Enter the Primary Email" formControlName="primaryEmail">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label>Secondary Email</mat-label>
            <input matInput placeholder="Enter the Secondary Email" formControlName="secondaryEmail">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label>Other Information</mat-label>
            <textarea matInput formControlName="OtherInformation"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label>Enter the Website</mat-label>
            <input matInput placeholder="Enter the website" formControlName="website">
            <mat-hint>Please copy and paste the full website URL!</mat-hint>
        </mat-form-field>
    </div>
    <hr style="border:1px solid #d8dedc;width:100%;margin-top:25px;margin-bottom:40px;">

    <div class="week-box">
        <div class="row">
            <h3>Weekly off days</h3>
            <div class="day-bax" *ngFor="let day of weekData; let i=index">
                <h4>{{day.name}}</h4>
                <label class="pr-box">
                    <input type="checkbox" [value]="day.id" (change)="onCheckboxChange($event)" />
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <button mat-raised-button class="save-btn"
            [disabled]="regForm.value.daysID.length===0 || !regForm.value.website 
            || !regForm.value.OtherInformation || !regForm.value.secondaryEmail 
            || !regForm.value.primaryEmail || !regForm.value.province 
            || !regForm.value.city || !regForm.value.block || !regForm.value.area 
            || !regForm.value.street"
            (click)=addressSubmit()>Save</button>
    </div>
</div>
<!-- <p-toast  position="top-center"></p-toast> -->
