<div [formGroup]="regForm">
    <div class="row">
        <h1>CreationMode</h1>
        <div class="TGL-box">
            <input id="toggle-on" class="toggle toggle-left" name="toggle" value="true" type="radio" name="selectorMode" formControlName="selectorMode">
            <label for="toggle-on" class="btn">Company</label>
            <input id="toggle-off" class="toggle toggle-right" name="toggle" value="false" type="radio" name="selectorMode" formControlName="selectorMode">
            <label for="toggle-off" class="btn">Branch</label>
        </div>
    </div>
    <div class="row mrgn30">
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">

            <mat-label> Company Name</mat-label>
            <input *ngIf="regForm.value.selectorMode=== 'true' || regForm.value.selectorMode===''" matInput placeholder="Placeholder" formControlName="companyName">
            <mat-select *ngIf="regForm.value.selectorMode=== 'false'" formControlName="CompanyId" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let company of companyList" (click)="onCompanyNameSelect($event)" [value]="company.companyId">
                    {{company.companyName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12" *ngIf="regForm.value.selectorMode === 'false' ">
            <mat-label> Branch Name</mat-label>
            <input matInput placeholder="Placeholder" formControlName="branchName">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> EmployerCode</mat-label>
            <input matInput placeholder="Placeholder" formControlName="employerCode">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> Short Name</mat-label>
            <input matInput placeholder="Placeholder" formControlName="shortName">

        </mat-form-field>
    </div>
    <hr style="border:1px solid #d8dedc;width:100%;margin-top:25px;margin-bottom:40px;">
    <div class="row mrgn30">
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let country of countryList" [value]="country.countryId">
                    {{country.countryName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="!regForm.controls['country'].valid && regForm.controls['country'].touched ">
                This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label>Currency</mat-label>
            <mat-select formControlName="currency" required>
                 <mat-option>--</mat-option>
                <mat-option *ngFor="let currency of currencyList" [value]="currency.currencyId">
                    {{currency.currencyName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="!regForm.controls['currency'].valid && regForm.controls['currency'].touched ">
                This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label>Company Industry</mat-label>
            <mat-select matNativeControl required formControlName="industry">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let industry of industryList" [value]="industry.companyIndustryId">
                    {{industry.companyIndustryName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="!regForm.controls['industry'].valid && regForm.controls['industry'].touched">
                This field is required
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <button mat-raised-button class="save-btn" [disabled]="!regForm.value.selectorMode || !regForm.value.currency || !regForm.value.industry || !regForm.value.country || (regForm.value.selectorMode=== 'false'?null:!regForm.value.companyName) ||(regForm.value.selectorMode=== 'false'? !regForm.value.branchName :null) || !regForm.value.employerCode || !regForm.value.shortName"
            (click)=submit()>Save</button>
    </div>
    <!-- <p-toast  position="top-center"></p-toast> -->  

</div>