<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>			</button>
            <a class="navbar-brand" routerLink=" ">
                <img class="img-fluid logoM" src="assets/images/logo.png">

            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                
                <li>
                    <a routerLink="" routerLinkActive="active"><span><i class="far fa-user-circle pull-left hidden-xs showopacity"></i></span> Recruitment</a>
                </li>
                <li>
                    <a routerLink="/companylist" routerLinkActive="active"><span><i class="far fa-user-circle pull-left hidden-xs showopacity"></i></span> Company Listing</a>
                </li>
                <li><a href="#"><span><i class="far fa-life-ring pull-left hidden-xs showopacity"></i></span> On Boarding</a></li>
                <li><a href="#"><span><i class="fas fa-user-tie pull-left hidden-xs showopacity"></i></span> Employee (ESS)</a></li>
            
                <li><a href="#"><span><i class="fas fa-dollar-sign pull-left hidden-xs showopacity"></i></span> Payroll</a></li>
                <li><a href="#"><span><i class="fas fa-crosshairs pull-left hidden-xs showopacity"></i></span> Goal/Performance</a></li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><i class="fas fa-cog pull-left hidden-xs showopacity"></i></span>General Settings <span class="caret"></span></a>
                    <ul class="dropdown-menu forAnimate sidebg" role="menu">
                        <li>
                            <a routerLink="/CompanySetting" routerLinkActive="active">Company Infomation</a></li>
                        <li><a href="#">Leave Policy</a></li>
                        <li><a href="#">Settlement Policy</a></li>
                        <li><a href="#">Shift Policy</a></li>
                        <li><a href="#">Work Policy</a></li>
                        <li><a href="#">Professional Tax Policy</a></li>
                        <li><a href="#">Holiday Calender</a></li>
                        <li><a href="#">Encash Policy</a></li>
                        <li><a href="#">Overtime Policy</a></li>
                        <li><a href="#">Holiday Policy</a></li>
                        <li><a href="#">Absent Policy</a></li>
                        <li><a href="#">PF Policy</a></li>
                        <li><a href="#">Deduction Policy</a></li>
                        <li><a href="#">Salary Template</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>