<div class="row">
    <div style="margin-bottom: 1em">
        <button type="button" pButton icon="pi pi-chevron-left" (click)="prev()" style="margin-right:.5em"
            [disabled]="isFirstPage()"></button>
        <button type="button" pButton icon="pi pi-refresh" (click)="reset()" style="margin-right:.5em"></button>
        <button type="button" pButton icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"></button>
    </div>
    
    <p-table [columns]="cols" [value]="list" [paginator]="true" [rows]="rows" sortMode="multiple"
        [showCurrentPageReport]="true" [(first)]="first"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

        <ng-template pTemplate="header" let-columns >
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}

                </th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-li let-columns="columns">
            <tr>
                <td>{{li.companyId}}</td>
                <td>{{li.companyName}}</td>
                <td>{{li.primaryEmail}}</td>
                <td class="customAction">
                    <i (click)="edit(li.companyId)" title="Not Available" class="material-icons">edit</i>
                    <i (click)="deleteCompany(li.companyId)" class="material-icons">delete</i>

                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-toast></p-toast>
<p-confirmDialog key="confirm-delete-company" header="Delete the Company" acceptLabel="Yes" rejectLabel="No" [(visible)]="DialogVisible"></p-confirmDialog>
</div>