<div [formGroup]="regForm">
    <div class="row">

        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> Office Head Name</mat-label>
            <input matInput placeholder="Enter the Headname" formControlName="officeHeadName">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> Father Name</mat-label>
            <input matInput placeholder="Enter the Fathername" formControlName="fatherName">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> Designation</mat-label>
           
            <mat-select formControlName="designationId" required>
                <mat-option></mat-option>
                <mat-option *ngFor="let designation of designationList" [value]="designation.designationId">
                    {{designation.designation}}
                </mat-option>   
            </mat-select>        
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> PAN No.
            </mat-label>
            <input matInput placeholder="Enter the Panno" formControlName="panNo">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> TAN No.
            </mat-label>
            <input matInput placeholder="Enter the Tanno" formControlName="tanNo">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> CIN</mat-label>
            <input matInput placeholder="Enter the Cinno" formControlName="cinNo">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> GST TIN</mat-label>
            <input matInput placeholder="Enter the Gstpin" formControlName="gstTIN">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> ROC Code</mat-label>
            <input matInput placeholder="Enter the RegistrationNo" formControlName="rocCode">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-sm-12">
            <mat-label> Registration Number</mat-label>
            <input matInput placeholder="Enter the Block" formControlName="registrationNo">
        </mat-form-field>

    </div>
    <hr style="border:1px solid #d8dedc;width:100%;margin-top:25px;margin-bottom:40px;">
</div>
<div class="row">
    <button mat-raised-button class="save-btn"
    [disabled]="!regForm.value.registrationNo || !regForm.value.rocCode || !regForm.value.gstTIN 
    || !regForm.value.cinNo || !regForm.value.panNo 
    || !regForm.value.designationId || !regForm.value.fatherName 
    ||!regForm.value.officeHeadName"
    (click)=otherSubmit()>Save</button>
</div>
<!-- <p-toast  position="top-center"></p-toast> -->
